<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="contact">
    <h2>Contact Us !</h2>
    <p>For more information</p>

    <!--First Name input-->
    <p>
      <input type="text" name="your first name" size="20" placeholder="First Name"><br />
    </p>

    <!--Last Name input-->
    <p>
      <input type="text" name="your last name" size="20" placeholder="Last Name"><br />
    </p>

    <!--email input-->
    <p>
      <input type="email" name="your email" size="20" placeholder="Email"><br />
    </p>

    <!--Subject input-->
    <p>
      <input type="text" name="your subject" size="20" placeholder="Subject"><br />
    </p>

    <!--Message input-->
    <p>
      <textarea class="message" name="your message" cols="20" rows="10" placeholder="Message"></textarea>
    </p>

  </div>

  <div class="information">
    <h2 style="margin: 0; color: grey"> Additional Information </h2>
    Phone: 704-231-8681
  </div>

  <div id="hours">

    <h2 style="margin: 0"> Services & Hours </h2>

    <!-- Main Church times-->
    <h4>
      <b>Main Church Service</b>
    </h4>

    <p> Sunday: 10:30 AM - 12:00 PM </p>


    <!-- Sunday School times-->
    <h4>
      <b>Sunday School</b>
    </h4>

    <p> Sunday: 9:30 - 10:10 AM </p>


    <!-- Worship practice times-->
    <h4>
      <b>Worship Practice</b>
    </h4>

    <p> Wednesday: 7:00 - 8:30 PM </p>

    <!-- Womens Study Group times-->
    <h4>
      <b>Womens Study Group</b>
    </h4>

    <p> Wednesday: 7:00 PM </p>

    <!-- Discipleship times-->
    <h4>
      <b>Discipleship</b>
    </h4>

    <p> Friday: 7:00 PM </p>

  </div>

</body>

</html>