<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>
    <h1> Our Mission</h1>

    <div id = "Services">

      <div id = "Clinic ">
        <h2>Encuentro Clinic</h2>
        <p>
          Encuentro clinic is a affordable clinic that aims to help struggling hispanic families
        </p>
      </div>

      <div id= "Pantry">
        <h2>Encuentro Pantry</h2>
        <p>
          The pantry is a service that offers food and water to struggling hispanic families who are in need.
        </p>
      </div>

      <div id="ThriftStore">
        <h2>Encuentro Church</h2>
        <p> 
          The Encuentro Thrift store offers affordable and reliable clothing for struggling hispanic families
        </p>
      </div>

    </div>
  </body>
</html>